.comment-container {
  padding: 16px;

  h3 {
    font-size: 24px;
    font-weight: 800;
  }

  .comment-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .commend-delete {
      color: red;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .comment-form {
    display: flex;
    column-gap: 24px;

    .form-group {
      flex-grow: 2;
    }

    button {
      height: 55px;
    }
  }
}
