<swiper-container [pagination]="true" [breakpoints]="swipperBreakPoints">
  <swiper-slide>
    <div class="slider-img-wrapper">
      <img
        src="/assets/images/save_time_about_us.png"
        alt="save time"
      />
    </div>
  </swiper-slide>

  <swiper-slide>
    <div class="slider-img-wrapper">
      <img
        src="/assets/images/organize_yourself_about.png"
        alt="organize yourself"
      />
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="slider-img-wrapper">
      <img
        src="/assets/images/miss_deadlines_about_us.jpeg"
        alt="never miss deadlines"
      />
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="slider-img-wrapper">
      <img
        src="../../../../assets/images/better_results_about_us.jpeg"
        alt="better results"
      />
    </div>
  </swiper-slide>
</swiper-container>
