.todo-item-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 60px;

  p {
    flex-grow: 2;
    margin: 0;
    white-space: normal;

    &.completed {
      text-decoration: line-through;
      color: gray;
    }
  }

  .button-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    padding: 8px;
    flex-shrink: 0;

    button {
      height: 32px;
      width: 32px;

      .mat-icon {
        font-size: 22px;
      }
    }
  }
}
